services:

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: oms-backend
    ports:
      - "8081:8080"
    environment:
      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
      - ASPNETCORE_ENVIRONMENT=Development
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - SMTP_USESTARTTLS=${SMTP_USESTARTTLS}
      - EMAIL_FROMNAME=${EMAIL_FROMNAME}
      - EMAIL_FROMADDRESS=${EMAIL_FROMADDRESS}
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
      - CLIENT_URL=${CLIENT_URL}
      - AllowedOrigins=http://localhost:5173
    networks:
      - db-network


  frontend:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: oms-frontend
    ports:
      - "5173:5173"  
    environment:
      - VITE_API_BASE=${VITE_API_BASE}
    depends_on:
      - backend
    networks:
      - db-network


networks:
  db-network:
    external: true
    name: db-network