services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: oms-backend
    ports:
      - "8080:8080" 
    environment:

      - ConnectionStrings__DefaultConnection=${DB_CONNECTION_STRING}
      - ASPNETCORE_ENVIRONMENT=Development

      - AllowedOrigins=http://localhost:5173
    networks:
      - db-network


  frontend:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: oms-frontend
    ports:

    environment:

      - VITE_API_URL=http://localhost:8080
    depends_on:
      - backend
    networks:
      - db-network

networks:
  db-network:
    external: true
    name: db-network 